<h4>Internal server error</h4>
@if(error){
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: if you're seeing this error then angular is not to blame</p>
    <p>What to do next</p>
    <ol>
        <li>open chrome dev tools and check the failing network request in the network tab </li>
        <li> examine the url of the failing request</li>
        <li> reproduce the error i postman - if youn can reproduce the error then angular is not to blame</li>
    </ol>
    <p class="font-weight-bold">following is the stack trace- check the first two lines this tells younexactly which line of code caused the problem</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
}
